<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!-- 
	servlet:
		HeroList
		login
		delete
		eidt  判断编辑的id，并得到该id的hero跳转到update界面更新
		HeroUpdateServlet updateHero
		
	filter:
		Encoding
		Auth
		First
 -->
    <servlet>
        <servlet-name>HeroListServlet</servlet-name>
        <servlet-class>servlet.HeroListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>HeroListServlet</servlet-name>
        <url-pattern>/listHero</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>HeroDeleteServlet</servlet-name>
    	<servlet-class>servlet.HeroDeleteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>HeroDeleteServlet</servlet-name>
    	<url-pattern>/deleteHero</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>HeroEditServlet</servlet-name>
    	<servlet-class>servlet.HeroEditServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>HeroEditServlet</servlet-name>
    	<url-pattern>/editHero</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>HeroUpdateServlet</servlet-name>
    	<servlet-class>servlet.HeroUpdateServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>HeroUpdateServlet</servlet-name>
    	<url-pattern>/updateHero</url-pattern>
    </servlet-mapping>
    
    
    
    
    <filter>
	    <filter-name>EncodingFilter</filter-name>
	    <filter-class>filter.EncodingFilter</filter-class>
	</filter>
	 
	<filter-mapping>
	    <filter-name>EncodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>AuthFilter</filter-name>
	    <filter-class>filter.AuthFilter</filter-class>
	</filter>
	 
	<filter-mapping>
	    <filter-name>AuthFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
    
	    
    <filter>
    	<filter-name>FirstFilter</filter-name>
    	<filter-class>filter.FirstFilter</filter-class>
    </filter>
    
    <filter-mapping>
    	<filter-name>FirstFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>